<div class="container">
  
    <div class="row ">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Hình ảnh</th>
                        <th>ID</th>
                        <th>Sản phẩm</th>
                        <th>Ngày</th>
                        <th>Giá</th>
                        <th>Đánh giá</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productList">
                        <td scope="row">
                            <img src="{{item.ImageUrl}}" alt="" width="60px">
                        </td>
                        <td>{{item.Id}}</td>
                        <td>
                            <a [routerLink]="['/Detail',item.Id]">{{item.Name}}</a>
                        </td>
                        <td>
                            {{item.ReleaseDate}}
                        </td>
                        <td>
                            {{item.Price}}
                        </td>
                        <td class="star">
                            <app-star [rating]="item.starRating" (outputRating)="viewStar($event)"></app-star>
                        </td>
                        <td>
                            <button class="badge bg-success" data-bs-toggle="modal" data-bs-target="#modalId" (click)="Edit(item.Id); isUpdate=2; isAdd=0;">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="badge bg-danger" (click)="Delete(item.Id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
           
        </div>
    </div>
    <button class="btn btn-outline-success w-100" data-bs-toggle="modal" data-bs-target="#modalId">
        Thêm sản phẩm mới
    </button>
 
 <!-- Modal Body -->
 <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
 <div
    class="modal fade"
    id="modalId"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
 >
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Thêm sản phẩm mới
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="formProduct" >
                    <div class="row">
                        <!-- Name -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Tên sản phẩm</label>
                                <input type="text" class="form-control" [formControl]="formProduct.controls.Name">
                            </div>
                        </div>
                        <!-- ID -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">ID</label>
                                <input type="text" class="form-control" [formControl]="formProduct.controls.Id" >
                            </div>
                        </div>
                        <!-- Date -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Date</label>
                                <input type="date" class="form-control" [formControl]="formProduct.controls.ReleaseDate">
                            </div>
                        </div>
                        <!-- Price -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Giá</label>
                                <input type="text" class="form-control" [formControl]="formProduct.controls.Price">
                            </div>
                        </div>
                        <!-- Image -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Hình ảnh</label>
                                <input type="file" class="form-control" (change)="onChange($event)" [formControl]="formProduct.controls.ImageUrl">
                            </div>
                        </div>
                        <!-- Add image -->
                        <div class="col-md-6">
                            <img [src]="file" width="20%" alt="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="isAdd=1; isUpdate=0;">
                    Close
                </button>
                <button type="button" class="btn btn-primary" *ngIf="isUpdate==2" (click)="Update()">Update</button>
                <button type="button" class="btn btn-primary" *ngIf="isAdd==1" (click)="Add()">Save</button>
            </div>
        </div>
    </div>
 </div>
 
 <!-- Optional: Place to the bottom of scripts -->
 <script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
 </script>
 
   

</div>