<div class="row">
    <div class="col-md-6 p-4 text-center">
        <img [src]="productDetail?.ImageUrl" width="50%" alt="">
    </div>
    <div class="col-md-6 pt-4">
        <h1 style="color: brown;">{{productDetail?.Name}}</h1>
        <div class="crop" [style.width.px]="(productDetail?.starRating!*90)/5">
            <div style="width: 90px; color: orangered;">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
        <div class="text-justify">
            <h3>ID: {{productDetail?.Id}}</h3>
        </div>
        <h3>Ngày: {{productDetail?.ReleaseDate}}</h3>
        <h3>Giá: {{productDetail?.Price | currency:'VND'}}</h3>
        <button class="btn btn-primary" routerLink="/">Quay lại</button>
        <br>
    </div>
</div>